html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono";
  letter-spacing: -0.03em;
}

.container {
  width: 1400px;
  background-color: #000000;
  box-sizing: border-box;
  margin: 0 auto;
}

.NavigationSection {
  display: block;
  width: 1153px;
  height: 55px;
  /* margin: 27px 0 0 123px; */
  margin-left: 123px;
  padding-top: 27px;
}

.MainButtom {
  margin-right: 380px;
  width: 230px;
  height: 39px;
  background: #000000;
  /* top: 36px; */
  /* left: ; */
  border-style: none;
  border-radius: 100px;
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 42.41px;
  line-height: 100%;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1bff07;
  cursor: pointer;
}

.NavigationLink:hover {
  color: #1bff07;
}

.NavigationLink {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: -0.03em;
  margin-right: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.NavigationLink:nth-last-child(1) {
  margin-right: 0;
}

.Main_Image {
  position: relative;
  width: 1400px;
  height: 765px;
  background-image: url(../resourses/Main_Image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.MainParagraph {
  position: absolute;
  text-align: left;
  width: 430px;
  left: 152px;
  top: 334px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 100%;
  color: #ffffff;
}

.HelloParagraph {
  position: absolute;
  text-align: left;
  width: 919px;
  left: 119px;
  bottom: 94px;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: -0.03em;
  line-height: 70px;
  color: #1bff07;
}

.Project_Section {
  position: relative;
  width: 1155px;
  /* height: ; */
  margin: 0 auto;
}

h1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #ffffff;
}

.Project_Item {
  position: relative;
  height: 550px;
  border-radius: 30px;
  overflow: hidden; /* Чтобы градиент не выходил за границы */
}
.Project_Image {
  display: block;
  width: 100%;
}

.Project_Item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  pointer-events: none; /* Чтобы градиент не мешал кликам по изображению */
  z-index: 1; /* Градиент выше картинки, но ниже текста */
}

h2 {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  color: #ffffff;
  z-index: 2; /* Текст выше градиента */
}

h3 {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
  z-index: 2; /* Текст выше градиента */
}

.AllProjectsButton {
  margin-top: 80px;
  width: 582px;
  height: 153px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(27, 255, 7, 1);

  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -3%;
  text-align: center;
}
